<html>

<head>
    <title>Quiz Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <h2 class="grey_text text-center">Quiz App</h2>
            <br>
            <h3>This application has set of Python questions. This quiz is not a MCQ type , Here once you provide the answer and you can compare with our answers. Quiz application has a set of questions you can practice it all the questions at a time.If you are ready to go with this click the 'Start Quiz' button. If you want to refresh it daily you can subscribe to our Campaign question. We send an email daily to you if you click the link it will take you to the page and we display one question daily.</h3>
        </div>
        <div>
            <ol>
            <h4><li><a href="./startquiz">Quiz Application</a></li></h4>
            <h4><li><a href="./campaignquestion">Campaign Question</a></li></h4>
            </ol>
        </div>
    </div>

</body>

</html>